{% extends 'base.html.twig' %}

{% block body %}
<div class="container bg-light rounded flex" style="max-height: 200px;">
    <center><img src="/uploads/images/administration.png" alt="pas de chance" style="margin-top: -70px;"></center>
</div>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

 <div class="container mt-4 bg-light rounded" style="padding: 30px;margin-top: 1em;">
    <div class="jumbotron">
        <h2>Affiner ma recherche</h2>
        {{ form_start(form) }}
        <div class="form-row">
            <div class="col-md-12">
                {{ form_row(form.description, { 'label': false, 'attr' : { 'style': 'display:none'}}) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.title) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.dpt, { 'label': false, 'attr' : { 'style': 'display:none'}}) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.category, { 'label': false, 'attr' : { 'style': 'display:none'}}) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.posttype, { 'label': false, 'attr' : { 'style': 'display:none'}}) }}
            </div>
        </div>
            <div>
                <button class="btn btn-success">Rechercher</button>
            </div>
        
        {{ form_end(form) }}
    </div>
     <table class="table table-stripped">
         <thead>
             <tr>
                 <th>Titre</th>
                 <th>Auteur</th>
                 <th>Publication</th>
                 <th>Suppression</th>
             </tr>
         </thead>
         <tbody>
            {% for post in posts %}
             <tr>
                 <td>{{ post.title }}</tdstyle="color: white;">
                 <td>{{ post.user.username }}</td>
                 <td>{{ post.createdAt | date('d/m/Y') }}</td>
                 <td>
                    <form method="POST" action="{{ path('admin.post.delete', {id: post.id}) }}" onsubmit="return confirm('êtes vous sûr ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                 </td>
             </tr>
             {% endfor %}
         </tbody>
     </table>
     {{ knp_pagination_render(posts) }}
 </div>       
</div>
 
            
 
{% endblock %}