{% extends 'base.html.twig' %}

{% block body %}
<div class="container bg-light rounded flex" style="max-height: 200px;">
  <center><img src="/uploads/images/accueil.png" alt="pas de chance" style="margin-top: -70px;"></center>
</div>
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<div class="card text-white bg-danger mb-3 container">
  <div class="card-header">Attention</div>
  <div class="card-body">
    <p class="card-text">Toutes les annonces et utilisateurs présents sur ce site sont factice. Toute ressemblance avec des numéros de téléphone ou Emails existants serait complètement fortuite. 
      Si un problème quelquonque en rapport vous atteint, n'hésitez pas à me contacter grace au lien en bas de page pour retirer les élément problématiques. <br> Bonne journée, le webmaster</p>
  </div>
</div>
<div class="container bg-light rounded flex" style="padding: 30px;margin-top: 1em;">
  <div class="row">
  <div class="col-md-5">
    <h3>Bienvenue sur mon site !</h3>
    <br>
    <br>
    <p>Je suis un jeune dévelopeur qui adore les plantes et j'ai eu l'idée de créer un site qui permettrait aux particuliers d'échanger leur matériel et végétaux. 
      Ce site est orienté vers un public passionné voulant échanger avec d'autres.</p>
    <p>Pour le moment le site en est à sa phase de développement finale, à savoir l'implémentation des derniers éléments de sécurité ainsi qu'un forum, un système de fiches de soins
       pour les différentes plantes et des éléments de personalistion et de prestige pour les comptes utilisateurs. À l'heure ou j'écris ces lignes seul le système d'échange est en place 
       et permet de poster des annonces comme vues sur le site. Les différents champs pourront être modifiés en fonctions des besoins et retours des utilisateurs.</p>
    <p>Merci beaucoup d'avoir pris le temp de me lire, c'est un projet encore très jeune mais dont je suis fier. N'hésitez pas à m'envoyer vos suggestions grâce à la rubrique "me contacter" et à passer régulièrement sur le site pour voir ses évolutions.</p>
    <p>Belle journée, Romain.</p>
  </div>

  <div class="col-md-7">
    <h3>Les dernières annonces mises en ligne</h3>
      <br>
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
  
  <!--Slides-->
  <div class="carousel-inner" role="listbox">

        {% for post in posts %}
        
        {% if ( loop.index == 1 ) %}
          <div class="carousel-item active">
        {% else %}
          <div class="carousel-item">
        {% endif %}
        <!---->
        <div class="card border border-success">
            <img class="card-img-top" src="https://picsum.photos/id/{{ random(114, 1079) }}/350/200" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ path('post.show', {id: post.id}) }}">{{ post.title }} </a>
                </h5>
              <p class="card-text">Departement : {{ post.departement }}</p>
              <p class="card-text">Ville : {{ post.city }} ({{ post.postal }})</p>
              <p class="card-text">{% if post.postNameType != 'Vente' %} Cette annonce est un {{ post.postNameType }} {% else %} Prix unitaire : {{ post.price }} {% endif %}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Posté le  : {{ post.createdAt | date('d/m/Y') }} par {{ post.user.username }}</small>
            </div>
          </div>
          </div>
        {% endfor %}
        </div>
        </div>
    </div>
  </div>
</div>
</div>


{% endblock %}